
#pages_proyects_Mobile_DivMain_proyects{
    padding-bottom: 15vh;
}


#pages_proyects_Mobile_DivMain_proyects, #pages_proyects_Mobile_DivMain{
    width: 100%;
}


#pages_proyects_Mobile_DivMain_proyects{
    display: flex;
    flex-direction: column;
    gap: 2rem;    
}





#pages_proyects_Mobile_DivMain div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
    #pages_proyects_Mobile_DivMain h1{
    }
    #pages_proyects_Mobile_DivMain{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .rowProyectsMobile{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }















#pages_proyects_Mobile_DivSecondary{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 70%;
    margin: 0 15% 0 15%;
    height: auto;
    min-height: 60vh;
    padding-top: 10vh;
}
    #pages_proyects_Mobile_DivSecondary_backBtn_btn{
        width: 2rem;
        filter: invert(60%);
    }

    #pages_proyects_Mobile_DivSecondary_proyects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


#sectionMobile #pages_proyects_Mobile_DivSecondary .cardProyectsType{
    min-width: 55vw;
    height: auto;
}
    #sectionMobile #pages_proyects_Mobile_DivSecondary .cardProyectsType img{
        width: 100%;
        max-width: none;
    }