
/* Body y HTML ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.bodyOverFlowYHidden{
    overflow-y: hidden;
}
.bodyOverFlowYScroll{
    overflow-y: scroll;
}

body,html{
    height: auto;
}

.bodyGeneral{
    /* Flex */
    display: flex;
    flex-direction: column;
    /* Background */
    background: linear-gradient(
        to bottom,
    rgb(0, 2, 7),  
    rgb(0, 10, 29),   
    rgb(0, 14, 43),  
    rgb(0, 14, 43),  
    rgb(0, 14, 43),  
    rgb(0, 14, 43)
 
    );
    /* Altura minima para que ocupe todo el height y margenes-padding */
    margin: 0;                 
    padding: 0;
}

.bodyLoading{
    background-color: black;
    overflow-y: hidden;
    max-height: 100vh;
}


