

/* Margenes generales ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
#headerDesktop, #headerMobile, #sectionDesktop, #sectionDesktop, #divSearchBarDesktop, #divSearchBarMobile, #divRssDesktop, #divRssMobile{
    margin-left: 5%;
    margin-right: 5%;
}




#sectionDesktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 0;
}
#sectionMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 0;
    margin-top: 5vh;
}




/* RSS FLOTANTES ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
#divRssDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 16em;
    height: 5em;
    position: fixed;   
    bottom: 2em; 
    z-index: 9999;   
    background: transparent;  
    padding: 0;                
}
#divRssMobile{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 16em;
    height: 5em;
    position: fixed; 
    gap: 3%;  
    bottom: 2em; 
    z-index: 9999;   
    background: transparent;  
    padding: 0;     
    margin: auto;   
}

    #linkedIn{
        width: 5em;
    }
    #github{
        width: 5em;
    }
    #classgap{
        width: 5em;
    }

    @media (max-width: 799px) {
        #divRssMobile { display: flex; }
        #sectionMobile { display: flex;}
        #divRssDesktop { display: none; }
        #sectionDesktop { display: none;}
    }
    @media (min-width: 800px) {
        #divRssMobile { display: none; }
        #sectionMobile { display: none;}
        #divRssDesktop { display: flex; }
        #sectionDesktop { display: flex;}
    }






/* ESTILOS GENERALES ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.rounded-image{
    border-radius: 1.5em;
}
.hover-scale-and-opacity:hover{
    cursor: pointer;
    opacity: 0.8;
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

.fade-scale {
    opacity: 0.3;            /* inicio invisible */
    transform: scale(1);     /* inicio más pequeño */
    animation: fadeScaleIn 0.5s forwards; /* animación 1 segundo */
    animation-delay: 0s;
}
@keyframes fadeScaleIn {
    from {
        opacity: 0.6;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}