

/* ESTILOS GENERALES --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#divMainAboutMe_Mobile_title, #cardAboutMe_Mobile, #cardAboutMe_Mobile_sectionContent, #subDiv_AndroidSec, #screenshotsOfApps_Div, #imgAndroidArrowDown{
    width: 100%;
}
#divMainAboutMe_Mobile_title, .divMainAboutMe_Mobile_content, #div_whoIAm_Mobile_Photo, #div_whoIAm_Mobile_Text, #div_whatIDo_Mobile_Btns, #div_whatIDo_Mobile_Btns button{
    height: 100%;
}
#divMainAboutMe_Mobile_title, .divMainAboutMe_Mobile_content{
    flex:1; 
}

#youWannaSeeMyGames{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color:rgb(189, 22, 22);
    text-decoration: underline;
}
#youWannaSeeMyGames img{ max-width: 1.5vw; }

.btnSelected{ filter: sepia(9) saturate(15) hue-rotate(-50deg); }
.btnSelected2{ scale: 1.15; }
.arrowDown{
    max-width: 1.5vw;
    filter: invert(100%);
    text-align: center;
    opacity: 0.3;
}
#imgAndroidArrowDown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}







#div_whatIDo_Mobile_Btns_btnAndroid, #div_whatIDo_Mobile_Btns_btnWeb, #div_whatIDo_Mobile_Btns_btnGames, #div_whatIDo_Mobile_Btns_btnClases{
    font-size: 13px;
}








/* ESTILOS DIVS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#divMainAboutMe_Mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* empieza desde arriba */
    align-items: center;          /* centra horizontal */
    gap: 1rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20vh;
    min-height: auto; /* ya no fuerza 100vh ni más */
}

    /* Titulo de la pagina */
    #divMainAboutMe_Mobile_title {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Contenido de la pagina */
    .divMainAboutMe_Mobile_content {
        width: 100%;
        display: grid;
        grid-template-rows: auto; /* crecer según el contenido */
        margin: 0 auto;
        padding: 0;
    }
        /* Card de about me -------------------------------------------------------------*/
        #cardAboutMe_Mobile {
            width: 100%;
            border-radius: 3rem;
            background-color: rgba(0, 0, 0, 0.35);
            display: grid;
            grid-template-rows: auto; /* se ajusta al contenido */
            padding: 0; /* opcional */
        }
            /* Seccion de botones */
            #cardAboutMe_Mobile_sectionButtons {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                background-color: rgba(68, 238, 45, 0.15);
                border-top-left-radius: 3rem; border-top-right-radius: 3rem;
                padding-right: 1%; padding-left: 1%;
            }
            /* Seccion de contenido */
            #cardAboutMe_Mobile_sectionContent {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(30, 255, 0, 0.034);
                border-bottom-left-radius: 3rem; border-bottom-right-radius: 3rem;
            }

                /* WHO I AM --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
                #div_whoIAm_Mobile_Photo{
                    max-width: 20rem;
                    margin-left: 3%;
                    margin-right: 3%;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                    gap: 2rem;
                    margin-top: 6%;
                    font-size: 15px;
                }
                #div_whoIAm_Mobile_Photo img{ width: 40%; border-radius: 15rem; }
                #div_whoIAm_Mobile_Text{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    margin-top: 6%;
                    margin-right: 3%;
                    font-size: 13px;
                    padding: 0 2rem 2rem 2rem;
                }

                /* WHAT I DO --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
                #div_whatIDo_Mobile_Btns{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    height: 100%;
                    margin-right: 5%;
                    margin-left: 5%;
                    margin-top: 5%;
                    min-width: 15rem;
                    gap:1rem;
                }
                #div_whatIDo_Mobile_Btns button{ background-color: rgba(142, 161, 37, 0.062); margin-right: 1%; color: whitesmoke; border-radius: 0.4rem; padding:1rem; width:30%;font-size: 14px;}
                #div_whatIDo_Mobile_Btns button:hover{ background-color: rgba(142, 161, 37, 0.295); }
                #div_whatIDo_Mobile_Text{
                    padding-top:2rem;
                    padding-bottom: 1rem;
                    flex:1;
                    font-size: 14px;
                    padding: 2rem;
                }
                #subDiv_AndroidSecMobile{
                    display: grid;
                    gap: 1rem;
                    grid-template-columns: 75% 25%;
                }
                #screenshotsOfApps_Div {
                    display: flex;
                    flex-direction: column; /* vertical */
                    justify-content: flex-start; /* comienza desde arriba */
                    align-items: center;
                    height:40vh; /* altura fija o relativa según necesites */
                    margin: 0;
                    overflow-y: scroll; /* scroll vertical */
                    overflow-x: hidden;
                    gap: 1rem;
                    padding: 1rem;
                    scrollbar-width: none;       /* Firefox */
                    -ms-overflow-style: auto;    /* IE 10+ */
                }
                #screenshotsOfApps_Div p { font-size: 12px; font-style: italic; margin: 0.25rem 0;}
                #screenshotsOfApps_Div img{ border-radius: 1rem; max-height: 150px; }
                #screenshotsOfApps_Div div{ display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 1.5rem;}
                #screenshotsOfApps_Div div:last-child { margin: 0;}

                /* WHAT CAN I DO --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
                #div_WhatCanIDo_Mobile_Section{
                    display: grid;
                    grid-template-rows: 50% 50%;  
                    padding: 2rem;  
                    gap: 2rem;
                    padding-bottom: 4rem;
                }
                #div_WhatCanIDo_Mobile_Section > div > div:empty {
                    display: flex;
                    justify-content: center;
                    opacity: 0.075;
                    width: 0.1rem;
                    height: 100%;
                    background-color: gainsboro;
                }
                #div_WhatCanIDo_Mobile_Sec1{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;  
                    margin: 0;
                    padding: 0;             
                }
                #div_WhatCanIDo_Mobile_Sec2{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;  
                    margin: 0;
                    padding: 0;  
                    margin-bottom: 2rem; 
                }
                #div_WhatCanIDo_Mobile_Sec1{
                    font-size: 14px; 
                }
                #div_WhatCanIDo_Mobile_Sec2{
                    font-size: 12px;
                }
                #div_WhatCanIDo_Mobile_Sec2{ gap: 1rem; }
                #div_WhatCanIDo_Mobile_Sec2 > div{
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;
                }
                #div_WhatCanIDo_Mobile_Sec2 > div > div:first-child{
                    text-align: right;
                }
                #div_WhatCanIDo_Mobile_Sec2 > div > div:last-child{
                    text-align: left;
                }
                @media (max-width: 480px) {
                    #div_WhatCanIDo_Mobile_Sec2 > div{
                        display: flex;
                        flex-direction: row;
                        gap: 1.1rem;
                    }
                }
                @media (max-width: 455px) {
                    #div_WhatCanIDo_Mobile_Sec2 > div{
                        display: flex;
                        flex-direction: row;
                        gap: 1.1rem;
                        font-size: 12px;
                    }
                    #cardAboutMe_Mobile_sectionButtons_btnWhoIAm, #cardAboutMe_Mobile_sectionButtons_btnWhatIDo, #cardAboutMe_Mobile_sectionButtons_btnWhatCanIDo, #cardAboutMe_Mobile_sectionButtons_btnWhatIStudy{
                        font-size: 12.5px;
                    }
                }
                @media (max-width: 433px) {
                    #div_WhatCanIDo_Mobile_Sec2 > div{
                        display: flex;
                        flex-direction: row;
                        gap: 0.5rem;
                        font-size: 10px;
                    }
                }
                @media (max-width: 410px) {
                    #cardAboutMe_Mobile_sectionButtons_btnWhoIAm, #cardAboutMe_Mobile_sectionButtons_btnWhatIDo, #cardAboutMe_Mobile_sectionButtons_btnWhatCanIDo, #cardAboutMe_Mobile_sectionButtons_btnWhatIStudy{
                        font-size: 10.5px;
                    }
                }


                /* WHAT CAN I STUDY --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
                #div_WhatIStudy_Mobile_Section{
                    display: grid;
                    grid-template-rows: 50% 50%;
                    gap: 1rem;    
                    padding-top: 1rem;
                    margin-left: 5%;
                    margin-right: 5%;
                    padding-bottom: 1rem;
                }
                #div_WhatIStudy_Mobile_Sec1 > .formacionDIV{
                    margin-left: 1%;
                    margin-right: 1%;
                    scale: 0.8;
                }

                #div_WhatIStudy_Mobile_Sec1 > h2{ margin-top: 1rem; font-size: 22px;}
                #div_WhatIStudy_Mobile_Sec2 > h2{ margin-top: 1rem; font-size: 22px;}
                #div_WhatIStudy_Mobile_Sec1, #div_WhatIStudy_Mobile_Sec2{ display: flex;flex-direction: column;justify-content: start;align-items: center; margin: 0; padding: 0; gap: 0rem;}

                #div_WhatIStudy_Mobile_Sec2 > div{
                    display: flex;
                    flex-direction: row;
                }



    #sectionDonwloadCV_Mobile {
        display: flex;
        flex:1;
        margin-top: 5%;
        bottom: 3%;
        right: 5%;
        justify-content: center;
        align-items: center;
    }
        #buttonDonwloadCV_Mobile {
            background-color: rgba(12, 97, 175, 0.13);
            text-align: center;
            display: flex;
            flex-direction: row;
            gap: 0.75rem;
            padding: 1rem;
            border-radius: 1rem;
            color: white;
            animation: bounceScale 1s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
        }
        #buttonDonwloadCV_Mobile img{
            max-width: 1.5rem;
        }
        @keyframes bounceScale {
            0% {
                transform: scale(1);
            }
            25% {
                transform: scale(2);
            }
            40% {
                transform: scale(0.7);
            }
            55% {
                transform: scale(1.4);
            }
            70% {
                transform: scale(0.85);
            }
            80% {
                transform: scale(1.2);
            }
            90% {
                transform: scale(0.95);
            }
            95% {
                transform: scale(1);
            }
            100% {
                transform: scale(0.9);
            }
        }



        @media (max-width: 450px) {
            #sectionDonwloadCV_Mobile {
                display: flex;
                flex:1;
                margin-top: 0;
                bottom: 3%;
                right: 5%;
                justify-content: center;
                align-items: center;
            }        
        }

