



#pagesBlog_Desktop_divMain_searchAndFilter, #pagesBlog_Desktop_divMain_searchAndFilter_search{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}







#pagesBlog_Desktop_divMain{
    display: grid;
    grid-template-rows: 10% 15% 50% 15%;
    margin: 0 5% 0 5%;
    width: 100%;
    min-height: 100vh;
}
    #pagesBlog_Desktop_divMain_title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #pagesBlog_Desktop_divMain_searchAndFilter{   
        gap: 1rem;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
        #pagesBlog_Desktop_divMain_searchAndFilter_empty{width: 25%;}
        #pagesBlog_Desktop_divMain_searchAndFilter_filter{width: 25%;}
        #pagesBlog_Desktop_divMain_searchAndFilter_search{width: 40%;}
        #pagesBlog_Desktop_divMain_searchAndFilter_search, #pagesBlog_Desktop_divMain_searchAndFilter_empty{
            height: 100%;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        #pagesBlog_Desktop_divMain_searchAndFilter_filter{
            height: 100%;
            justify-content: start;
            padding-left: 2%;
            align-items: center;
            gap: 1rem;
        }
        #pagesBlog_Desktop_divMain_searchAndFilter_filter{
            display: flex;
            flex-direction: row;
        }
            #pagesBlog_Desktop_divMain_searchAndFilter_search > input{
                border-radius: 1rem;
                padding: 0.5rem 1rem 0.5rem 1rem;
            }
            #pagesBlog_Desktop_divMain_searchAndFilter_search > input:focus {
                outline: none;
                box-shadow: none; /* por si el navegador aplica también un sombreado */
            }
        #pagesBlog_Desktop_divMain_searchAndFilter img{
            max-width: 2rem;
            filter: invert(1) brightness(0.8) contrast(1.2);
        }






    #pagesBlog_Desktop_divMain_entries{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        gap: 3rem;
        width: 80%;
    }
        #pagesBlog_Desktop_divMain_entries_row1, #pagesBlog_Desktop_divMain_entries_row2{
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            justify-content: center;
            gap: 5rem;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }






    #pagesBlog_Desktop_divMain_pages{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap:1rem;
    }
        #pagesBlog_Desktop_divMain_pages div{
            display: flex;
            justify-content: center;
            align-items: center;
        }









        .input-wrapper {
            width: 100%;
            position: relative;
            display: inline-block;
        }

        .input-wrapper input {
            padding-left: 2.5rem; /* espacio para el icono */
            border-radius: 1rem;
            border: 1px solid #ccc;
            height: 2.5rem;
            width: 100%;
        }

        .input-wrapper img {
            position: absolute;
            left: 0.7rem;
            top: 50%;
            transform: translateY(-50%);
            width: 1.2rem;
            height: 1.2rem;
            pointer-events: none; /* que no bloquee el click en el input */
        }










#pagesBlog_Desktop_divMainSeeBlogEntry{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-left: 15%;
        margin-right: 15%;   
        min-height: 100vh;
        padding-bottom: 20vh;
    }
        #pagesBlog_Desktop_divMainSeeBlogEntry_BackDiv{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:1rem;
        }
            #pagesBlog_Desktop_divMainSeeBlogEntry_BackDiv_1 {
                width: 100%;
                justify-content: start;
                align-items: center;
            }
                #pagesBlog_Desktop_divMainSeeBlogEntry_BackDiv_2 h1 { margin-bottom: 3vh;}
                #pagesBlog_Desktop_divMainSeeBlogEntry_BackDiv_1 p{ text-align: right;}
                #pagesBlog_Desktop_divMainSeeBlogEntry_BackDiv_1 img { max-width: 3rem; filter: invert(100%);}
            #pagesBlog_Desktop_divMainSeeBlogEntry_BackDiv_2{
                width: 100%;
            }                
                #pagesBlog_Desktop_divMainSeeBlogEntry_BackDiv_2 img { width: 100%; height: 50vh; object-fit: cover;}

            #divOfLabelsAndDate{
                background-color: rgba(219, 219, 219, 0.062);
                padding-top: 1vh;
                display: grid;
                grid-template-columns: 50% 50%;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 1%;
                padding-top: 1%;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
                #divOfLabelsAndDate > div:last-child{
                    display: flex;
                    justify-content: end;
                    align-items: end;
                }
                #divOfLabelsAndDate > div:first-child{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: start;
                    gap: 1rem;
                }






    #pagesBlog_Desktop_divMainSeeBlogEntry_DescriptionDiv{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2.5%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
    }
        #pagesBlog_Desktop_divMainSeeBlogEntry_DescriptionDiv a{
            padding: 0.5rem 1rem 0.5rem 1rem;
            background-color: rgba(10, 91, 129, 0.205);
            border-radius: 1rem;
            color: rgba(13, 111, 202, 0.877);
        }
        #pagesBlog_Desktop_divMainSeeBlogEntry_DescriptionDiv hr {
            border: none;              /* elimina el borde por defecto */
            height: 2px;               /* grosor de la barra */
            background-color: rgba(54, 54, 54, 0.384); /* color */
            width: 100%;               /* ocupa todo el ancho */
            margin: 1rem 0;            /* espacio arriba y abajo (opcional) */
        }
        #pagesBlog_Desktop_divMainSeeBlogEntry_DescriptionDiv h3 { text-align: center;} 

    
    #pagesBlog_Desktop_divMainSeeBlogEntry_ContentDiv{
        width: 94%;
        margin-left: 3%; margin-right: 3%;
        color:white;
        margin-top: 1%;
    }















/* -------------------------------------------- MEDIA QUERIES -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    @media (max-width: 1400px) {
        #pagesBlog_Desktop_divMain_entries_row1, #pagesBlog_Desktop_divMain_entries_row2{ gap: 4rem; }
    }
    @media (max-width: 1000px) {
        #pagesBlog_Desktop_divMain_entries_row1, #pagesBlog_Desktop_divMain_entries_row2{ gap: 3rem; }
        #pagesBlog_Desktop_divMain_searchAndFilter_filter{ font-size: 20px; }
        #pagesBlog_Desktop_divMain_searchAndFilter_filter img { max-width: 1.5rem ;}
    }