#pagesBlog_Mobile_divMain_searchAndFilter,
#pagesBlog_Mobile_divMain_searchAndFilter_search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pagesBlog_Mobile_divMain {
    display: flex; flex-direction: column;
    margin: 0 5% 0 5%;
    gap:3rem;
    width: 90%;
    height: auto;
}
#pagesBlog_Mobile_divMain_title {
    display: flex;
    justify-content: center;
    align-items: center;
}
#pagesBlog_Mobile_divMain_searchAndFilter {   
    gap: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
#pagesBlog_Mobile_divMain_searchAndFilter_empty { width: 25%; }
#pagesBlog_Mobile_divMain_searchAndFilter_filter { width: 25%; }
#pagesBlog_Mobile_divMain_searchAndFilter_search { width: 40%; }
#pagesBlog_Mobile_divMain_searchAndFilter_search,
#pagesBlog_Mobile_divMain_searchAndFilter_empty {
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#pagesBlog_Mobile_divMain_searchAndFilter_filter {
    height: 100%;
    justify-content: start;
    padding-left: 2%;
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: row;
}
#pagesBlog_Mobile_divMain_searchAndFilter_search > input {
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
#pagesBlog_Mobile_divMain_searchAndFilter_search > input:focus {
    outline: none;
    box-shadow: none;
}
#pagesBlog_Mobile_divMain_searchAndFilter img {
    max-width: 2rem;
    filter: invert(1) brightness(0.8) contrast(1.2);
}

#pagesBlog_Mobile_divMain_entries {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    gap: 1rem;
    width: 70%;
    height: 100%;
}
    #pagesBlog_Mobile_divMain_entries .cardMiniEntryBlog h2{
        font-size: 20px;
    }
    #pagesBlog_Mobile_divMain_entries .cardMiniEntryBlog p{
        font-size: 12px;
    }

    @media (max-width: 630px) {
        #pagesBlog_Mobile_divMain_entries .cardMiniEntryBlog h2{
            font-size: 18px;
        }
        #pagesBlog_Mobile_divMain_entries .cardMiniEntryBlog p{
            font-size: 11px;
        }
    }
    @media (max-width: 535px) {
        #pagesBlog_Mobile_divMain_entries .cardMiniEntryBlog h2{
            font-size: 18px;
        }
        #pagesBlog_Mobile_divMain_entries .cardMiniEntryBlog p{
            font-size: 10px;
        }
    }

    @media (max-width: 575px) {
        #pagesBlog_Mobile_divMain_entries .cardMiniEntryBlog h2{
            font-size: 16px;
        }
        #pagesBlog_Mobile_divMain_entries .cardMiniEntryBlog p{
            font-size: 9px;
        }
        #pagesBlog_Mobile_divMain_entries .cardMiniEntryBlog button{
            font-size: 13px;
        }
    }






















#pagesBlog_Mobile_divMain_pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
#pagesBlog_Mobile_divMain_pages div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    width: 100%;
    position: relative;
    display: inline-block;
}

.input-wrapper input {
    padding-left: 2.5rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    height: 2.5rem;
    width: 100%;
}

.input-wrapper img {
    position: absolute;
    left: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.2rem;
    height: 1.2rem;
    pointer-events: none;
}

#pagesBlog_Mobile_divMainSeeBlogEntry {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;   
    min-height: 100vh;
    padding-bottom: 20vh;
}
#pagesBlog_Mobile_divMainSeeBlogEntry_BackDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#pagesBlog_Mobile_divMainSeeBlogEntry_BackDiv_1 {
    width: 100%;
    justify-content: start;
    align-items: center;
}
#pagesBlog_Mobile_divMainSeeBlogEntry_BackDiv_2 h1 {
    margin-bottom: 3vh;
}
#pagesBlog_Mobile_divMainSeeBlogEntry_BackDiv_2 #divOfLabelsAndDate{
    padding: 0.7rem;
}
#pagesBlog_Mobile_divMainSeeBlogEntry_BackDiv_2 #divOfLabelsAndDate p{
    font-size: 13px;
}
#pagesBlog_Mobile_divMainSeeBlogEntry_BackDiv_2 #divOfLabelsAndDate .labelDiv{
    font-size: 11px;
    padding: 0.3rem;
}

#pagesBlog_Mobile_divMainSeeBlogEntry_BackDiv_1 p {
    text-align: right;
}
#pagesBlog_Mobile_divMainSeeBlogEntry_BackDiv_1 img {
    max-width: 2rem;
    filter: invert(100%);
}
#pagesBlog_Mobile_divMainSeeBlogEntry_BackDiv_2 {
    width: 100%;
}
#pagesBlog_Mobile_divMainSeeBlogEntry_BackDiv_2 img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

#divOfLabelsAndDate {
    background-color: rgba(219, 219, 219, 0.062);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#divOfLabelsAndDate > div:last-child {
    display: flex;
    justify-content: end;
    align-items: end;
}
#divOfLabelsAndDate > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}

#pagesBlog_Mobile_divMainSeeBlogEntry_DescriptionDiv {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
#pagesBlog_Mobile_divMainSeeBlogEntry_DescriptionDiv a {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgba(10, 91, 129, 0.205);
    border-radius: 1rem;
    color: rgba(13, 111, 202, 0.877);
}
#pagesBlog_Mobile_divMainSeeBlogEntry_DescriptionDiv hr {
    border: none;
    height: 2px;
    background-color: rgba(54, 54, 54, 0.384);
    width: 100%;
    margin: 1rem 0;
}
#pagesBlog_Mobile_divMainSeeBlogEntry_DescriptionDiv h3 {
    text-align: center;
}

#pagesBlog_Mobile_divMainSeeBlogEntry_ContentDiv {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    color: white;
    margin-top: 1%;
}

/* -------------------------------------------- MEDIA QUERIES -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 1400px) {
    #pagesBlog_Mobile_divMain_entries_row1,
    #pagesBlog_Mobile_divMain_entries_row2 {
        gap: 4rem;
    }
}
@media (max-width: 1000px) {
    #pagesBlog_Mobile_divMain_entries_row1,
    #pagesBlog_Mobile_divMain_entries_row2 {
        gap: 3rem;
    }
    #pagesBlog_Mobile_divMain_searchAndFilter_filter {
        font-size: 20px;
    }
    #pagesBlog_Mobile_divMain_searchAndFilter_filter img {
        max-width: 1.5rem;
    }
}




#linkBtnOfEntryBlogMobile{
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;    
    padding: 12px 12px;    /* tamaño del botón */
    background-color: rgba(102, 51, 153, 0.199);
    color: white;
    border: none;
    border-radius: 10px;   /* bordes redondeados estilo "pill" */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* sombra para efecto flotante */
    transition: transform 0.2s; /* animación al hacer hover */
    font-size: 13px;
}
