


#loadingDiv{
    /* Flex */
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Dimensiones */
    width: 100%;
    min-height: 100vh;
    /* Otros */
    overflow-x: hidden;
    overflow-y: hidden;
}

#loadingDiv > img {
    margin-bottom: 10vh;
}





/* ESTILOS PARA LA LOADING-BAR */
#loadingScreen {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 9999;
}

#loadingBarContainer {
    width: 66%;
    height: 16px;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
}

#loadingBar {
    height: 100%;
    width: 0%;
    background-color: #22c55e; /* verde */
    transition: width 0.10s ease;  
}