



.cardProyectsType {
    display: flex;
    width: 18vw;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    background-color: rgba(80, 80, 80, 0.30);
    border-radius: 1rem;
    height: 100%;
}
    .cardProyectsType img{
        max-width: 20vw;
        height: 20vh;
        object-fit: cover;
        max-height: 20vh;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .cardProyectsType p{
        text-align: right;
        padding: 0 1rem 0.5rem 0;
        font-size: 0.75rem;
        font-style: italic;
        color: rgb(170, 170, 170);
    }
    .cardProyectsType h2{
        text-align: center;
        padding: 0 1rem 0 1rem;
        font-size: 1.5rem;
        color: white;
        font-weight: 500;
    }



.cardProyectsType:not(.cardDisabled):hover {
    /* estilos solo para los que no están deshabilitados */
    cursor: pointer;
    transition: transform 0.2s;
    scale: 1.1;
}



    .rowProyectsDesktop{
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }




.cardDisabled{
    opacity: 0.5;
}



#pages_proyects_Desktop_DivSecondary_backBtn_btn:hover, #pages_proyects_Mobile_DivSecondary_backBtn_btn:hover{
    cursor: pointer;
}







    
#sectionMobile .cardProyectsType{
    height: 25vh;
    width: 30vw;
} 

#sectionMobile .cardProyectsType img{
    height: 20vh;
    width: 30vw;
    max-width: 30vw;
}


